{% extends 'events/base.html' %}

{% block content %}
{% load static %}
<link href="{% static 'styles.css' %}" rel="stylesheet" />
    
<center>
        <div class="bg-light">
            <div class="container py-5">
                <div class="row h-100 align-items-center py-5">
                    <div class="col-lg-6">
                        <h1 class="display-4">About us</h1>
                        <br />
                        <p class="lead text-muted mb-0">Created by Matías Moreno & Martín Prozapas</p>
                        <br />
                        <p>Martín Prozapas is a lawyer, but now he is dedicated to web development, specializing in
                            Python and Django.</p>
                        </p>
                        <br />
                        <p>Matías Moreno is a Industrial Engineerwho is exploring the world of programming. He is starting
                            with the languages of python and C # to see if in the future what branch of work he wants to 
                            dedicate himself to.</p>
                    </div>
                    <div class="col-lg-6 d-none d-lg-block"><img
                            src="https://d9-wret.s3.us-west-2.amazonaws.com/assets/palladium/production/s3fs-public/thumbnails/image/event%20icon.jpg"
                            alt="" class="img-fluid"></div>
                </div>
            </div>
        </div>
</center>
       
{% endblock %}
