{% extends 'events/base.html' %}

{% block content %}
{% comment %} CARD {% endcomment %}
<center>
    <h1> {{ venue }}</h1>
    <br/>
        {{ venue.address }}<br />
        {{ venue.zip_code }}<br />
        {{ venue.phone }}<br />
        {{ venue.email_adress }}<br />
        <a href="">{{ venue.web }}</a><br />

{% comment %} END_CARD {% endcomment %}
</center>
{% if venue.venue_image %}
<br />
<center>
    <img src="{{ venue.venue_image.url }}" width=500>
</center>
{% endif %}
{% endblock %}
